.footer {

    background-color: #212529;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    height: 4rem;
    text-align: center;
}

.copyright {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
}