.backgroundButton {

    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    border: none;
}

.backgroundButton:hover {
    /* Cambia il colore di sfondo e il colore del testo */
    background: #ffffff;
    color: #dc3545!important;
    border: 1px solid #dc3545!important;

    /* Aggiungi un'ombra */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Modifica i valori a seconda delle tue preferenze */
}
